<p id="notice"><%= notice %></p>

<h1>
  Listing Food Trucks
  <% if params.has_key? 'genre' %>
    <small><%= params[:genre] %></small>
  <% end %>
</h1>

<% @food_trucks.each do |food_truck| %>
  <h3><%= link_to food_truck.name, food_truck%></h3>
  <span class="stars pull-right"><%= food_truck.rating %></span>
  <p>Location: <%= food_truck.intersection %></p>
  <% unless food_truck.phone == "0" %>
    <a href="tel:<%= food_truck.phone %>">
      <p>Phone: <%= number_to_phone food_truck.phone, area_code: true %></p>
    </a>
  <% end %>
  <p>
    Genre:
    <%= raw genre_linker food_truck.genres %>
  </p>
  <% if !food_truck.hours_listing.empty? %>
    <p>Hours: <%= food_truck.hours_listing.to_sentence %></p>
  <% end %>
  <% if user_signed_in? && current_user.admin %>
    <%= link_to 'Show', food_truck %> |
    <%= link_to 'Edit', edit_food_truck_path(food_truck) %> |
    <%= link_to 'Delete', food_truck, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr/>
<% end %>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Food truck', new_food_truck_path %>
<% end %>
