<p id="notice"><%= notice %></p>

<h2><%= @food_truck.name %></h2>

<p>
  <strong>Rating:</strong>
  <%= number_with_precision @food_truck.rating, precision: 2 %>
</p>

<p>
  <strong>Phone:</strong>
  <a href="tel:<%= @food_truck.phone %>">
    <%= number_to_phone @food_truck.phone, area_code: true %>
  </a>
</p>

<p>
  <strong>Mf open:</strong>
  <%= @food_truck.MF_open %>
</p>

<p>
  <strong>Mf close:</strong>
  <%= @food_truck.MF_close %>
</p>

<p>
  <strong>Sa open:</strong>
  <%= @food_truck.Sa_open %>
</p>

<p>
  <strong>Sa close:</strong>
  <%= @food_truck.Sa_close %>
</p>

<p>
  <strong>Su open:</strong>
  <%= @food_truck.Su_open %>
</p>

<p>
  <strong>Su close:</strong>
  <%= @food_truck.Su_close %>
</p>

<p>
  <strong>Genrebig:</strong>
  <%= @food_truck.genreBig %>
</p>

<p>
  <strong>Genresmall1:</strong>
  <%= @food_truck.genreSmall1 %>
</p>

<p>
  <strong>Genresmall2:</strong>
  <%= @food_truck.genreSmall2 %>
</p>

<p>
  <strong>Location:</strong>
  <%= @food_truck.location %>
</p>

<% if @food_truck.blurb != 'NULL' %>
<h3>Description</h3>
<p>
  <%= @food_truck.blurb %>
</p>
<% end %>

<p>
  <strong>Intersection:</strong>
  <%= @food_truck.intersection %>
</p>

<%= link_to 'Edit', edit_food_truck_path(@food_truck) %> |
<%= link_to 'Back', food_trucks_path %>
