<p id="notice"><%= notice %></p>

<div class="page-header">
  <span class="stars pull-right"><%= @food_truck.rating %></span>
  <h2><%= @food_truck.name %></h2>
</div>

<% if user_signed_in? %>
  <% unless current_user.favs.exists?(id: @food_truck.id) %>
    <%= link_to 'Add to favorites', favorites_path(food_truck_id: @food_truck), method: :post, class: "btn btn-primary pull-right" %>
  <% else %>
    <%= link_to 'Remove from favorites', favorite_path(@food_truck), method: :delete, class: "btn btn-primary pull-right" %>
  <% end %>
<% end %>

<p>
  <strong>Rating:</strong>
  <%= number_with_precision @food_truck.rating, precision: 2 %>
</p>

<% if @food_truck.phone != "0" %>
<p>
  <strong>Phone:</strong>
  <a href="tel:<%= @food_truck.phone %>">
    <%= number_to_phone @food_truck.phone, area_code: true %>
  </a>
</p>
<% end %>

<% if !@food_truck.hours_listing.empty? %>
<p>
  <strong>Hours:</strong>
  <%= @food_truck.hours_listing.to_sentence %>
</p>
<% end %>

<p>
  <strong>Genre:</strong>
  <%= raw genre_linker @food_truck.genres %>
</p>

<p>
  <strong>Location:</strong>
  <%= location_link @food_truck %>
</p>

<% if @food_truck.blurb != 'NULL' %>
<h3>Description</h3>
<p>
  <%= @food_truck.blurb %>
</p>
<% end %>

<p>
  <strong>Intersection:</strong>
  <%= @food_truck.intersection %>
</p>

<h3>Ratings and Reviews</h3>

<% @food_truck.recent_reviews.each do |review| %>
  <h4><%= review.title %></h4>
  <% if user_signed_in? && current_user.admin %>
    <p class="pull-right"><%= link_to 'Edit', edit_review_path(review) %></p>
  <% end %>
  <strong>
      Quality: <%= review.quality %>,
      Quantity: <%= review.quantity %>,
      Speed: <%= review.speed %>,
      Friendliness: <%= review.friendliness %>,
      Bang for the Buck: <%= review.bang %>
  </strong>
  <% if !review.comment.blank? %>
    <p><%= review.comment %> –<em><%= review.owner %></em></p>
  <% end %>
  <hr/>
<% end %>

<% if user_signed_in? && current_user.admin %>
  <%= link_to 'Edit', edit_food_truck_path(@food_truck) %> |
<% end %>
<%= link_to 'Back', food_trucks_path %>
