<p id="notice"><%= notice %></p>

<h1 class="page-header">Listing Suggestions</h1>

<% @suggestions.each do |suggestion| %>
  <h4><%= suggestion.title %></h4>
  <p><%= suggestion.body %></p>
  <p><strong>Status: </strong><%= suggestion.status %></p>
<% end %>

<br>

<%= link_to 'New Suggestion', new_suggestion_path %>
